*{    
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    color: #0a0806;
  background-color: #f2e9de;
  font-size: 23px;
  font-weight: 400;
}

.header-container{
  display: flex;
  align-items: center;
  margin: 5vh 10vw;
}

.links-container{
  display: flex;
  align-items: center;
  gap: 1em;
}

#sidebar-active,
.open-sidebar-button, .close-sidebar-button{
  display: none;
}

svg{
  fill: black;
}


a{
  display: inline-block;
  text-decoration: none;
  color: #0a0806;
  font-weight: 500;
}

.header-logo{
  margin-right: auto;
}

img{
    height: 120px;
    width: 120px;
}

a:hover{
  transform: scale(1.1);
  color: #C9AB81;
}

a.reservation{
  color:#0a0806;
  border: 7px solid #C9AB81;
  font-size: 1em;
  font-weight: 500;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}

a.reservation:hover{
  background-color: #C9AB81;
  color: #f2e9de;
  transform: scale(1.05);
}



@media screen and (max-width: 900px){  
  
  .header-container{
    margin: 5vh 5vw;
  }

  .links-container{
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: #f2e9de;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.50s ease-out;
    gap: 5px;
    padding: 7vh 5vw;
  }

  a.nav-link{
    color: black;
    height: auto;
    margin-block: 0.7em;
    text-align: center;
    font-size: 1.4em;
  }

  .open-sidebar-button, .close-sidebar-button{
    padding: 20px;
    display: block;
  }

  .close-sidebar-button{
    margin-left:auto;
  }

  #sidebar-active:checked ~ .links-container{
    right: 0;
  }

  #sidebar-active:checked ~ #overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
}

